.container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    border: 1px solid red;
    background-color:#f1efe5;
    h1{
        margin-top: 20px;
        font-size: 40px;
        font-weight: bold;
    }
    

    
}

.container>div{
    border: 1px solid red;
    width: 20%;
    height: 250px;
    border-radius: 50px;
background: #e0e0e0;
box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}

