.title_container{
 display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    h1{
        font-size: 50px;
        font-weight: 700;
        margin-right: 20px;
        color: #008575;
        margin: 0;
        span{
            color: #ffb948;
        }
    }
    .dash{
        flex-grow: 1;
        height: 2px;
        background-color: #ffb948;
        margin: 0px;
        margin-right: 20px;
    }
}